name: healthcheck
on:
  push:
    branches:
      - main
env:
  CI: true
  TZ: Asia/Tokyo
jobs:
  all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
      - uses: denoland/setup-deno@main
        with:
          deno-version: v1.x
      - run: make dev-file
      - run: make dev-pipe
      - run: make lint
      - run: make test
      - run: make build
